doctype html
html
  head
    title NIT Silchar : Online Registration Portal
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet')
  body
    #logo
      img.img_logo(src='/images/nit.png')
      p.college_name NATIONAL INSTITUTE OF TECHNOLOGY, SILCHAR
    #bar
      a(href='') HOME
      a(href='') GUIDLINE
      a(href='') CONTACT
    #main
      form(action='/login', method='post')
        fieldset
          legend  Please login with your NITS user id and password
          .form-group
            label UserID
            input.form-control(type='text', name='userid')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          button.btn.btn-warning.btn-lg(type='submit') Login
